.ariaTextArea:global(.__wab_instance) {
  box-sizing: border-box;
  object-fit: cover;
  position: relative;
  box-shadow: inset 0px 0px 0px 1px var(--token-8E03NKQmjvd7);
  font-size: var(--token-CwtIiC9FMvfN);
  line-height: var(--token-qFatbHxaRd1O);
  width: 100%;
  color: var(--token-9clURHSOjxl4);
  font-family: var(--token-2KCvDAC9ElGN);
  min-width: 0;
  border-radius: var(--token-K-858EmyolgP);
  padding: var(--token-K-858EmyolgP) var(--token-i1a5mMNrhi-M);
  border-style: none;
}
.ariaTextArea[data-focused]:global(.__wab_instance) {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-C9APPZcjnVWt);
  outline-offset: 1px;
}
.ariaTextArea[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.ariaTextAreatype_soft:global(.__wab_instance) {
  background: var(--token-eGSv2JVB0MbS);
  box-shadow: none;
}
.ariaTextAreatype_soft[data-hovered]:global(.__wab_instance) {
  background: var(--token-qT8LxZPVXBmL);
}
.ariaTextAreatype_plain:global(.__wab_instance) {
  box-shadow: none;
}
.ariaTextAreatype_plain[data-hovered]:global(.__wab_instance) {
  background: var(--token-eGSv2JVB0MbS);
}
.ariaTextAreaflat_top:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.ariaTextAreaflat_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_bottom:global(.__wab_instance) {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.ariaTextAreapadded_left:global(.__wab_instance) {
  padding-left: var(--token-4pmZ01MLfNv-);
}
.ariaTextAreapadded_right:global(.__wab_instance) {
  padding-right: var(--token-4pmZ01MLfNv-);
}
